@model Post

<div class="content-header">
    <div class="container">
        <div class="row justify-content-between mb-2">
            <div class="">
                <h3>Question Details</h3>
            </div><!-- /.col -->
            <div class="">
                <a asp-controller="Post" asp-action="Create" class="btn btn-primary">Ask Question</a>
            </div><!-- /.col -->
        </div><!-- /.row -->

        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col">
                                <div class="row justify-content-between">
                                    <div>
                                        <h5 class="card-title">By: @Model.User.DisplayName</h5>
                                    </div>
                                    <div>
                                        <span class="badge badge-success">@Model.Tag.TagName</span>

                                    </div>
                                    <div>
                                        <h5 class="card-title">@Model.CreatedDate.ToLocalTime()</h5>
                                    </div>
                                </div>

                            </div>
                            <div class="col-12 mt-2">
                                <div class="col-12">
                                    <h5 class="card-title text-bold">@Model.Title</h5>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="col-12">
                                    @if (Model.Description != null)
                                    {
                                        <p class="card-text"> @Html.Raw(Markdig.Markdown.ToHtml(Model.Description))</p>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>       
        </div>

        <div class="row mt-4">
            <div class="col">
                <h4>Answers</h4>
                <div class="mb-3">
                    @foreach (var answer in Model.Answers)
                    {
                        <div class="card mb-2">
                            <div class="card-body">
                                <p>@answer.AnswerText</p>
                                <p>By: @answer.User.DisplayName</p>
                                <p>Vote Count: 10</p>
                                <form asp-action="Upvote" asp-route-answerId="@answer.Id" method="post">
                                    <button type="submit">Upvote</button>
                                </form>
                                <form asp-action="Downvote" asp-route-answerId="@answer.Id" method="post">
                                    <button type="submit">Downvote</button>
                                </form>
                            </div>
                        </div>
                    }
                </div>

                <h4>Add Answer</h4>
                <form asp-controller="Answer" asp-action="AddAnswer" method="post">
                    <div class="form-group">
                        <input type="hidden" value="@Model.Id" name="postId" />
                        <label for="answerBody">Your Answer:</label>
                        <textarea name="answer" class="form-control" required></textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit Answer</button>
                </form>
            </div>
        </div>

    </div>
</div><!-- /.container-fluid -->